<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="${appName}">Document</title>

    <link rel="preconnect" type="text/css" href="https://fonts.bunny.net" />
    <link rel="stylesheet" type="text/css" href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}" />
  </head>
  <body class="antialiased">
    <div class="relative sm:flex sm:justify-center sm:items-center min-h-screen bg-dots-darker bg-center bg-gray-100 dark:bg-dots-lighter dark:bg-gray-900 selection:bg-red-500 selection:text-white">
      <th:block th:replace="partials/header/landing :: header"/>

      <div class="max-w-7xl mx-auto p-6 lg:p-8">
        <div class="mt-16">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
            <th:block th:replace="partials/body/landing/document :: body"/>
  
            <th:block th:replace="partials/body/landing/guide :: body"/>
          </div>
        </div>

        <th:block th:replace="partials/footer/landing :: footer"/>
      </div>
    </div>
  </body>
</html>